apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "dashfrog.fullname" . }}
  labels:
    {{- include "dashfrog.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  {{- if not .Values.api.autoscaling.enabled }}
  replicas: {{ .Values.api.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "dashfrog.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: api
  template:
    metadata:
      {{- with .Values.api.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dashfrog.labels" . | nindent 8 }}
        app.kubernetes.io/component: api
        {{- with .Values.api.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.api.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "dashfrog.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.api.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.api.securityContext | nindent 12 }}
          image: "{{ .Values.api.image.repository }}:latest"
          imagePullPolicy: {{ .Values.api.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.api.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.api.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
          env:
            - name: DASHFROG_POSTGRES_HOST
              value: {{ include "dashfrog.postgresHost" . | quote }}
            - name: DASHFROG_POSTGRES_PORT
              value: {{ .Values.api.config.postgresPort | quote }}
            - name: DASHFROG_POSTGRES_DBNAME
              value: {{ .Values.api.config.postgresDbname | quote }}
            - name: DASHFROG_POSTGRES_USER
              value: {{ .Values.api.config.postgresUser | quote }}
            - name: DASHFROG_POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "dashfrog.secretName" . }}
                  key: {{ .Values.api.secrets.postgresPasswordKey }}
            - name: DASHFROG_OTLP_ENDPOINT
              value: {{ include "dashfrog.otlpEndpoint" . | quote }}
            - name: DASHFROG_PROMETHEUS_ENDPOINT
              value: {{ include "dashfrog.prometheusEndpoint" . | quote }}
            - name: DASHFROG_API_USERNAME
              value: {{ .Values.api.config.apiUsername | quote }}
            - name: DASHFROG_API_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "dashfrog.secretName" . }}
                  key: {{ .Values.api.secrets.apiPasswordKey }}
            - name: DASHFROG_API_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "dashfrog.secretName" . }}
                  key: {{ .Values.api.secrets.apiSecretKeyKey }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: tmp
          emptyDir: {}
      {{- with .Values.api.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
