apiVersion: v1
kind: Service
metadata:
  name: {{ include "dashfrog.fullname" . }}
  labels:
    {{- include "dashfrog.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "dashfrog.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
