name: Frontend

on:
  pull_request:
    paths:
      - 'frontend/**'
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  biome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: |
          cd frontend
          npm ci

      - name: Run Biome
        run: |
          cd frontend
          npm run ci
